html{
    background-color:#f9f7f4;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    max-width:100%;
    margin:0 auto;
    padding:0 20px 0 20px;
}

/* Header styling */

header{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    padding-left:20px;
    
}
.hb{
    width:90%;
    max-width:200px;

}

#header-wrap{
    width: 100%;
    padding:40px 0 40px 0;
    display: inline-block;
}

#logo {
  display:block;
  width: 100%;
  padding-bottom:30px;
}

#header-text{
    display:block;
    width: 100%;
    text-align:left;
}

@media (max-width: 500px) {
    #logo{
         float: none;
         display: inline-block;
         text-align:center;
         width:100%;
    }
    #header-text{
      margin-top: 15px;
      text-align:center;
      float: none;
      display: inline-block;
      width: 100%;
    }
}



h1{
    text-transform: uppercase;
    font-size:24px;
    line-height:45px;
    margin:0px;
}

h3{
    font-size:15px;
    line-height:30px;
    color:grey;
    margin:0px;

}

/* Header styling end */

h2{
    font-size:18px;
    line-height:28px;
    color:grey;
    margin:0px;
}

footer {
    width:100%;
    text-align:right;
    padding-top:30px;
}

a{
    text-decoration:none;
    color:grey;
}




.hovereffect {
    max-width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
	top: 0;
	bottom: auto;
  padding: 0.5em;
	height: 50px;
	background: #fcc0f5;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-85%,0);
	transform: translate3d(0,-85%,0);
}



.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0,10%,0);
	transform: translate3d(0,10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.icon-links img {
    opacity: 0.7;

}

.icon-links img:hover {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.icon-links{
    padding-right:40px;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-200%,0);
	transform: translate3d(0,-200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.black{
    background: #3d3939!important;
}

.orange{
    background: #efb51a!important;
}

.blue{
    background: #90d4e7!important;
}

/* Responsive portfolio items */
.gridContainer{
    padding-top:40px;
    margin-left:300px;
    float:left;
    width: calc(100% - 300px);

}

.grid {
  width: 100%;
}



.grid-item {
    float: left;
  width: 300px;
  /*height: 300px;*/
  padding-bottom:10px;

}



/*.grid-item--width2 { width: 400px; }
.grid-item--width3 { width: 600px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 400px; }*/
